@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: theme('colors.brandBlack');
}

.font-space-grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* global.css */
input[type="range"] {
  background: linear-gradient(
    to right,
    #d4ed7a var(--value),
    #2e383e var(--value)
  );
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #fff;
  cursor: pointer;
  border-radius: 50%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
  /* border: 2px solid #000; */
}

input[type="range"]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #fff;
  cursor: pointer;
  border-radius: 50%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
  /* border: 2px solid #000; */
}
